<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D3DB73E1D2CF250000A8F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D3DB7551D2CF250000A8F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D3DB7601D2CF250000A8F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
